<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站首页</title>
    <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/head/article-list.css">
    <link rel="stylesheet" href="../../css/datouwang.css">

</head>
<body style="background: #f1f1f1">
    <div id="blog">
        <div class="blog-title-box">
            <img src="../../img/blog.jpg" height="133" width="200"/>
            <div class="blog-title">
                <h2>博主寄语</h2>
                <p>&nbsp;&nbsp;写文章是一个长期的过程，在短时间内获得的效益是比较低的。
                    只有在切身体会后记录下来的点点滴滴才是对自身成长最好的帮助。
                    我会坚持记录工作上、生活上的点点滴滴，也希望志同道合的朋友们前来交流，指出不足，共同进步，相互勉励，谢谢。
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="panel">
                    <div class="panel-body">
                        <h3 class="panel-title">博客列表</h3>
                    </div>
                    <div class="panel-footer">
                        <div class="blog-list row">
                            <div v-for="article in article_list" class="blog-box">
                                <!-- 左侧图片，信息 -->
                                <div class="col-xs-2" style="text-align: left">
                                    <img class="iv_article img-rounded" src="../../img/ic_android1.jpg"/>
                                </div>
                                <div class="col-xs-10 blog-content">
                                    <h2>{{article.articleTitle}}</h2>
                                    <p>{{article.articleIntroduction}}</p>
                                    <a  v-for="label in article.labelList">
                                        <b>{{label.labelName}}</b>
                                    </a>
                                    <div class="star-box">
                                        <span class="glyphicon glyphicon-eye-open start"><span class="show-font">{{article.articleViews}}</span></span>
                                        <span class="glyphicon glyphicon-heart start"><span class="show-font">{{article.articleLikeCount}}</span></span>
                                        <span class="glyphicon glyphicon-envelope start"><span class="show-font">{{article.articleCommentCount}}</span></span>
                                        <a @click="go(article.id)" class="shake hake-horizontal"><span class="glyphicon glyphicon-hand-right"><span class="show-font">阅读全文</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel">
                    <div class="panel-body" style="border-bottom: 1px solid #ddd;"><h3 class="panel-title">标签云</h3></div>
                    <div class="panel-body">
                        <div class="label-list">
                            <a v-for="label in label_list" class="label-box">
                                {{label.labelName}}({{label.articleCount}})
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../js/jquery-3.4.1.min.js"></script>
<script src="../../bootstrap/bootstrap.min.js"></script>
<script src="../../js/vue/vue.min.js"></script>
<script src="../../js/ajax.js"></script>
<script src="../../js/head/article-list.js"></script>
</html>