body {font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif; color: #000; background: #f1f1f1; font-size: 15px;cursor:url(../../img/default.cur),default;}
a { text-decoration: none; color: #000; }
a:hover { color: #218af1; text-decoration: none;cursor:url(../../img/pointer.cur),pointer;}

.index {width: 100%}
.index div {display: inline-block; float: left}
#carousel-example-generic {width: 600px;height: 340px;margin-right: 20px;border: #ffffff solid 10px;}

#news {width:458px;height: 340px;background: #ffffff}

.headline-news-title {margin-top:-1px;margin-bottom: 15px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #0092d8;}
h2 {font-size: 18px;}
.headline-news-title a {color: #1487f4;}
.headline-news-title span {float: left;font-size: 12px;line-height: 16px;font-weight: normal;border: #ff6600 1px solid;padding: 0 5px;border-radius: 3px;color: #ff6600;margin: 0 8px 0 0;}

#news-box a {text-decoration: none;}
#news-box {padding: 20px;}

.headline-news-list {
    border-top: #ddd 1px solid;
    padding-top: 15px;
}
.headline-news-list li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    position: relative;
    left: -20px;
}
.headline-news-list li span {margin-right: 5px; color: #5cb85c}
.headline-news-list a {color: #000000;}

.article-box {width: 100%; margin-top: 30px;}
.row {background: #ffffff;margin-right: 0px;margin-left: 0px}

.item_article {min-height: 120px;display: flex;flex-direction: row;align-items: center;overflow: hidden;}
.div_right_info {text-align: right;}
.div_right_info img {cursor: pointer;transition: all 0.6s; }
.div_right_info img:hover{transform: scale(1.3)}
.iv_article {
    width: 88px;
    height: 88px;
    margin: auto;
}
.item_article {
    margin-bottom: 10px;
}
.item_article .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
.div_article_content {
    margin-top: 5px;
    color: #a0a0a0;
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
}
.label-box {display: block;position: relative;top: 12px}
.art-lab {height:25px;line-height: 25px;width: 80px;float: left;margin-left: 5px;text-align: center;background: #d9edf7;border-radius: 20px;color: #122b40;font-weight: lighter}
.read-lab{height:25px;line-height: 25px;width: 80px;float: left;margin-left: 5px;text-align: center;background: #f2dede;border-radius: 20px;color: #101010;font-weight: unset}
.art-lab :hover{font-size: 30px}
.div_article_title {left: -15px}
.article_title{
    font-size: 22px;
}
strong {
    font-weight: 700;
}
.show-detail {margin-top: 10px;float: right;text-align:left;color: #999999;font-size: 13px}
.start {padding: 5px; opacity: 0.8; width: 50px;}
.show-font {color: #101010;margin-left: 3px;position: relative;top: -2px}
.glyphicon-eye-open{color: #521 }
.glyphicon-heart {color: palevioletred}
.glyphicon-envelope {color: #000}

.div_userinfo {
    background: #ffffff;
    border: #f1f1f1 solid 1px;
    color: #5bc0de;
    padding: 12px 24px 12px 24px !important;
}
.iv_user_head {
    width: 48px;
    height: 48px;
}
.tab-a-more { position: relative;float: right;top: -10px}
.tab-a-more a { display: block; background-size: 32px; overflow: hidden; width: 40px; height: 30px; }
.tab-a-more a i { position: absolute; top: 16px; width: 8px; height: 8px; animation: bounce_fountainG 1.2s linear infinite; border-radius: 8px; background: #09F; }
.tab-a-more a i:first-child { right: 20px; animation-delay: .4s; background: #09F; }
.tab-a-more a i:nth-child(2) { right: 10px; animation-delay: .6s; background: #3c0; }
.tab-a-more a i:nth-child(3) { right: 0; animation-delay: .8s; background: #f60; }
@keyframes bounce_fountainG { 0% {
    transform:scale(1);
}
    100% {
        transform:scale(.3);
    }
}
.panel-body{height: 50px}

.lab-list {
    text-align: center;
}
.lab-box {
    margin-top: 10px;
    height: 36px;
    line-height: 35px;
    background: #f1f1f1;
    border: #ffffff solid 3px;
    border-radius: 5px;
    color: #101010;
    opacity: 0.9;
}
.lab {
    margin-top: 3px;
    text-align: center;
    font: 16px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
}
.lab-list a{
    color: #000;
    text-decoration: none;
}
.lab-box:hover {
    background: #5ac8fa;
    color: #ffffff;
}
.lab-list a:hover {
    color: #ffffff;
}

.share-list {
    display: flex;
    justify-content: center;
}
.share-box {
    width: 320px;
    height: 80px;
    background: #ffffff;
    border: #ddd solid 1px;
}
.share-content {
    position: relative;
    margin-top: 20px;
}
.share-content h2{
    margin-bottom: 5px;
    overflow: hidden;
    font-size: 13px;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 5px;
    width: 160px;
}
.share-content span {
    font-size: 12px;
    color: #8d9ab2;
    position: absolute;
    right: 10px;
    top: -1px;
}
.share-content p {
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 12px;
    padding-top: 5px;
    font-weight: normal;
    font-size: 12px;
    color: #8a8f99;
    overflow: hidden;
    width: 220px;
}
.share-img {float: left;margin:15px;}
.d-list-hover {
    display: none;
    overflow: hidden;
    position: absolute;
    right: 2px;
    top: 0;
    bottom: 0;
    width: 90px;
    height: 80px;
    background: #00aaff;
    font-size: 14px;
    line-height: 80px;
    color: #fff;
    text-align: center;
}
.d-list-hover em {
    display: block;
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-style: normal;
}
.share-box:hover .d-list-hover{display: block}
.link-box{text-align: center;margin-bottom: 10px;margin-top: 10px}
.link {
    font-size: 15px;
    font-weight: bolder;
}
.link:after {
    content: "";
    background: #1487f4;
    background: linear-gradient(to right, #0062ff 0%, #00a0ec 100%);
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 40%;
    opacity: 0;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.link:hover:after { opacity: 1; width: 100%; margin: auto; display: block; left: 0;}
.read {color: #337ab7}