<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csy.csy_blog.dao.ArticleLabelMapper" >
  <resultMap id="BaseResultMap" type="com.csy.csy_blog.domain.ArticleLabel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="article_id" property="articleId" jdbcType="BIGINT" />
    <result column="label_id" property="labelId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, article_id, label_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from article_label
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from article_label
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.csy.csy_blog.domain.ArticleLabel" >
    insert into article_label (id, article_id, label_id
      )
    values (#{id,jdbcType=BIGINT}, #{articleId,jdbcType=BIGINT}, #{labelId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.csy.csy_blog.domain.ArticleLabel" >
    insert into article_label
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="labelId != null" >
        label_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="labelId != null" >
        #{labelId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csy.csy_blog.domain.ArticleLabel" >
    update article_label
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="labelId != null" >
        label_id = #{labelId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csy.csy_blog.domain.ArticleLabel" >
    update article_label
    set article_id = #{articleId,jdbcType=BIGINT},
      label_id = #{labelId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insertBatch" parameterType="java.util.List">
    INSERT INTO article_label (
        id, article_id, label_id
    )
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (
        #{item.id},
        #{item.articleId},
        #{item.labelId}
      )
    </foreach>
  </insert>
  <delete id="deleteByArticleId">
    DELETE FROM article_label WHERE article_id =#{articleId}
  </delete>
</mapper>